.inner-featured-class{
    padding: 36px 36px 61px 36px;
    background-color: #fae44c;
    width: 397px;
}
.featured-title{
    height: 26px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #000;
    line-height: 1.1;      
}
.featured-content{
    height: 29px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
   
}
