<div style="display:flex" >
    <div class="report-Tiles">
        <div style="height: 50%; display:flex;border-bottom: 1px solid  #3399ff;" class="tile-hover">
         <div style="width:397px" class="Title">
            <img src="assets/images/Acces-reports.png" style="padding-left: 30px;"/>
            <span style="padding-left: 20px;">Access report</span>
         </div>
         <div style="width:397px; position: relative;" class="Text">
            <div style="padding-top: 90px">
                Browse plenty of predefined reports to see your business performance, discover the trends and see areas that require your attention.
            </div>
            <div style="position: absolute;bottom: 0px;right: 0px;cursor:pointer"  (click)="navigateAccessReports()">
                <span class="Enter-Frame">
                    <span class="Enter">Enter</span>
                </span>
                <span class="Button-frame">
                    <span class="Polygon-1"></span>
                </span>
            </div>
            
         </div>
        </div> 
        <div style="height:50%;display:flex" class="tile-hover">
            <div style="width:397px" class="Title">
                <img src="assets/images/Export-data.png" style="padding-left: 30px;" />
               <span style="padding-left: 20px;">Export-data</span> 
            </div>
            <div style="width:397px; position: relative;" class="Text">
                <div style="padding-top: 98px; padding-right: 30px;">
                    Use an export wizard to download large sets of data for an ad hoc analysis.
                </div>
                <div style="position: absolute; right: 0px;bottom:0px; cursor:pointer">
                    <span class="Enter-Frame" (click)="navigateExportData()">
                        <span class="Enter">Enter</span>
                    </span>
                    <span class="Button-frame" >
                        <span class="Polygon-1"></span>
                    </span>
                </div>               
            </div> 
        </div>
    </div>
    <div style="width:45%">
        <img class="Picture-tile" height="auto" width="auto" src="assets/images/landing.png"/>
    </div>
</div>