// .Access-Frame {
//   width: 794px;
//   height: 483px;
//   display: flex;
//   flex-direction: column;
//   justify-content: left;
//   align-items: stretch;
//   gap: 1px;
//   padding: 0px 1px;
// }
.report-Tiles{
  width: 794px;
  height: 483px;
  background-color: #005eef; 
}
.Title {
  // padding-left: 10px;
  color: #fff;
  align-self: stretch;
  flex-grow: 1;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-family: 'Segoe UI';
  text-align: left;
  line-height: 1.2;
  letter-spacing: normal;      
}
.Text {
  align-self: stretch;
  flex-grow: 1;
  font-family: 'Segoe UI';
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #fff;
}
.Button-frame {
  width: 26.8px;
  height: 28px;
  gap: 10px;
  padding: 8px 7px;
  background-color: #184ac9;
  // flex-grow: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-end;
}
.Polygon-1 {
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 12px solid white;
    transform: rotate(132deg);
  // width: 13.8px;
  // height: 12.4px;
  // flex-grow: 0;
  // transform: rotate(-270deg);
  // background-color: #fff;
}
// .Access-report{
// display: flex;
// }
// .Access-report span{
// padding: 121px 30px;
// justify-content: left;
// }
// .Vector-92 {
// width: 794px;
// height: 1px;
// margin: 2px 0px;
// background-color: white;
// }
// .Export-title {
//   align-self: stretch;
//   flex-grow: 1;
//   height: 1px;
//   font-size: 36px;
//   font-weight: bold;
//   font-stretch: normal;
//   font-style: normal;
//   text-align: left;
//   line-height: 1.2;
//   letter-spacing: normal;      
//   color: #fff;
// }
.Enter-Frame {
  width: 67px;
  height: 28px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 12px 7px;
  background-color: #184ac9;
}
.Enter {
  width: 43px;
  height: 16px;
  flex-grow: 0;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

}
img.Picture-tile {
width: 646px;
height: 483px;

object-fit: contain;
}

.tile-hover:hover{
  background-color: #184ac9;
  .Enter-Frame{
    background-color: white;
   
  }
  .Enter{
    color: #184ac9;
  }
  .Button-frame{
    background-color: white;
  }
  .Polygon-1{
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 12px solid blue;
    transform: rotate(132deg);
  }
}