<div style="display:flex" >
    <div class="report-Tiles">
        <div style="border-bottom: 1px solid  #3399ff;" (click)="navigateAccessReports()" class="tiles-flex-class tile-hover" >
         <div style="width:397px" class="Title">
            <img src="assets/images/Acces-reports.png" style="padding-left: 30px;"/>
            <span style="padding-left: 20px;">Access report</span>
         </div>
         <div style="width:397px; position: relative;" class="Text">
            <div style="padding-top: 90px">
                Browse plenty of predefined reports to see your business performance, discover the trends and see areas that require your attention.
            </div>
            <div class="Enter-button-class" >
                <span class="Enter-Frame">
                    <span class="Enter">Enter</span>
                </span>
                <span class="Button-frame">
                    <span class="Polygon-1"></span>
                </span>
            </div>
            
         </div>
        </div> 
        <div  class="tiles-flex-class tile-hover" (click)="navigateExportData()">
            <div style="width:397px" class="Title">
                <img src="assets/images/Export-data.png" style="padding-left: 30px;" />
               <span style="padding-left: 20px;">Export data</span> 
            </div>
            <div style="width:397px; position: relative;" class="Text">
                <div style="padding-top: 98px; padding-right: 30px;">
                    Use an export wizard to download large sets of data for an ad hoc analysis.
                </div>
                <div  class="Enter-button-class">
                    <span class="Enter-Frame"  >
                        <span class="Enter">Enter</span>
                    </span>
                    <span class="Button-frame" >
                        <span class="Polygon-1"></span>
                    </span>
                </div>               
            </div> 
        </div>
    </div>
    <div style="width:45%">
        <img class="Picture-tile"  src="assets/images/landing.png"/>
    </div>
</div>