@import "src/assets/scss/variables.scss"; 

.filter-div {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 12px;
  line-height: 1.1;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: flex;
  border: 1px solid #80d8c7;
  font-family: "UnileverShilling";
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}


.rotate {
  transform: rotate(180deg);
}
.filters-class {
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filters-class{
  >div{
    flex-grow: 1;
    flex-basis: 0;
  };
}
.filter {
  width: 336px;
  background-color: $yellow;
  font-size: 14px;
  font-family: "UnileverShilling";
  color: #000;
  line-height: 1.8;
  text-align: left;
  height: 38px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: #000;
}
