<div>
    <div class="Frame-45">
        <span>
            <img src="/assets/Acces-reports.png" class="Acces-reports">
        </span>
        <span class="Title">
            Access reports
        </span>
        <span class="Text" style="text-align:left">
            Browse plenty of predefined reports to see your business performance, discover the trends and see areas that require your attention.
        </span>
        <span>
            <img src="/assets/Export-data.png" class="Export-data">
        </span>
        <p class="Title1">
            Export data
        </p>
        <span class="Text1">
            Use an export wizard to download large sets of data for an ad hoc analysis.
        </span>
    </div>
    <div class="Vector-92"></div>
    <div class="Rectangle-2530">
        <span class="Featured-Content">
            Featured Content
        </span>
        <a class="link">Business Winning</a>
        <br>
        <a class="link">Global Distribution Led Growth</a>
        <br>
        <a class="link">Pentrack</a>
        <br>
        <a class="link">Channel Dashboard</a>
        <br>
        <a class="link">Innovations</a>
        <br>
        <a class="link">Brand Health</a>
    </div>
    <div class="Vector"></div>
    <!-- jpg -->
    <img src="/assets/Picture3x.png" class="Zrzut-ekranu-2021-08-10-o-0849-1">
    <span class="Favourites">
        Favourites
    </span>
    <span class="-\32 -3">
        <span class="text-style-1">1</span>
        2  3
    </span>
    <!-- <div class="Favourites"></div> -->
    <p class="Button-text">
        What is the market share of Un...
    </p>
    <p class="Button-text1">
        What is the market share of Un...
    </p>
    <p class="Button-text">
        Market Share Development
    </p>
    <p class="Button-text2">
        Market Share Development
    </p>
    <p class="Button-text">
        Company Verus Market Growth
    </p>
    <p class="Button-text3">
        Company Verus Market Growth
    </p>
    <p class="Button-text">
        China
    </p>
    <p class="Button-text4">
        China
    </p>
</div>