<!-- <nav class="navbar navbar-transparent" style="margin-bottom: 0px; width:100%" id="navbar" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <span class="navbar-brand" href="#" [ngClass]="{white: colorBlue}" >GMI</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="Home "><span [ngClass]="{white: colorBlue}">{{headerType}}</span></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="User"><span [ngClass]="{white: colorBlue}"><span><img src="assets/images/Avatar.png"/></span></span></li>
      <li><span class="User-name white" [ngClass]="{white: colorBlue}" ><span><i></i></span>John Smith</span></li>
      <li><span  ><span><img src="assets/images/Arrow.png"/></span></span></li>
    </ul>
  </div>
</nav> -->

<div style="margin-bottom: 0px; width:100%" id="navbar">
  <div style="display: flex;justify-content: space-between;">
  
    <div style="display: flex;">
    <div>
      <span class="navbar-brand" (click)="navigateToHome()"  [ngClass]="{white: colorBlue}" >GMI</span>
    </div>
    <div>
      <div class="Home" [ngClass]="{white: colorBlue}">{{headerType}}</div>
    </div>
  </div>

  <div style="display: flex;">
    <div>
      <span class="User" [ngClass]="{white: colorBlue}"><span><img src="assets/images/Avatar.png"/></span></span>
      <span class="User-name white" [ngClass]="{white: colorBlue}" ><span><i></i></span>John Smith</span>
      <span class="User"><span><img src="assets/images/Arrow.png"/></span></span>
    </div>
  </div>

  </div>
</div>