<div style="display: flex">
    <div class="inner-featured-class">
      <div class="featured-title">
        Featured Content
      </div>
      <div class="featured-content-container">
        <div >Business Winning</div>
        <div >Global Distribution Led Growth</div>
        <div >Pentrack</div>
        <div>Channel Dashboard</div>
        <div >Innovations</div>
        <div>Brand Health</div>
      </div>
    </div>
    <div style="width: 50%;">
      <img src="./assets/images/Tile.png" style="height:100%;width: 100%;">
    </div>
</div>
