<div style="display: flex">
    <div class="inner-featured-class">
      <div class="featured-title">
        Featured Content
      </div>
      <div style="margin-top: 36px">
        <div class="featured-content">Business Winning</div>
        <div class="featured-content">Global Distribution Led Growth</div>
        <div class="featured-content">Pentrack</div>
        <div class="featured-content">Channel Dashboard</div>
        <div class="featured-content">Innovations</div>
        <div class="featured-content">Brand Health</div>
      </div>
    </div>
    <div class="img-style">
      <!-- <img src="./assets/images/Tile.png" style="height:333px"> -->
    </div>
</div>
