@font-face {
    font-family: 'UnileverShillingMedium';
    src: url('../../../../../assets/fonts/UnileverShillingMedium.woff');
    font-weight: bold;
    font-style: normal;
}

.inner-featured-class{
    padding: 36px 36px 61px 36px;
    background-color: #fae44c;
    width: 50%;
}
.featured-title{
    height: 26px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #000;
    line-height: 1.1;   
    font-family: 'UnileverShillingMedium';   
}

.img-style{
    background-image: url("./../../../../../assets/images/Tile.png");
    height: 333px;
    background-size: cover;
}
.featured-content-container
{
margin-top: 36px;
>div {
    height: 29px;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    color: #000;
    font-family: 'UnileverShillingMedium';
   
    font-family: 'Segoe UI';  
}


}
