<nav class="navbar navbar-transparent" style="margin-bottom: 0px; width:1440px;">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#" >GMI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="Home"><a href="#" >{{headerType}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="User"><a href="#"><span><img src="assets/Avatar.png"/></span></a></li>
      <li><a class="User-name" href="#" ><span><i></i></span>John Smith</a></li>
      <li><a href="#"><span><img src="assets/Arrow.png"/></span></a></li>
    </ul>
  </div>
</nav>
