.favourites-div{
 height: 333px;
 padding: 32px 8px 40px 33px;
}
.favourites-text{
  text-align: left;
  color: #000;  
  font-size: 14px;
  font-family: 'Segoe UI';
  line-height: 1.4;
  padding: 10px 5px 5px 5px;
  font-weight: 400;
}
.favourites-tiles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    font-family: 'Segoe UI';
    line-height: 1.4;
    color: #000;
    font-size: 14px;
}
.favourite-tile{
  display: flex;
  width:95%;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom:13px;
  cursor: pointer;
  max-width: 380px;
}
.favourite-tile:hover{
  background-color:#F2F2F2;
}
::ng-deep.ngx-pagination .current{
  background-color: white !important;
  color: #000000 !important;
  font-weight: 700; 
}

::ng-deep.ngx-pagination a:hover{
  background-color: white !important;
  text-decoration: none;
}
::ng-deep.ngx-pagination a:focus{
  outline: none !important;
}



  

