@font-face {
  font-family: 'UnileverShillingMedium';
  src: url('../../../../../assets/fonts/UnileverShillingMedium.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UnileverShilling';
  src: url('../../../../../assets/fonts/UnileverShilling.woff');
  font-weight: bold;
  font-style: normal;
}

.favourites-div{
 height: 333px;
 padding: 32px 8px 40px 33px;
}
.Fav-header{
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-left: 20px;
  line-height: 1.1;
  font-family: 'UnileverShillingMedium';
}
.favourites-text{
  text-align: left;
  color: #000;  
  font-size: 14px;
  font-family: 'UnileverShilling';
  line-height: 1.4;
  padding: 10px 5px 5px 5px;
  font-weight: 400;
}
.favourites-tiles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    font-family: 'UnileverShilling';
    line-height: 1.4;
    color: #000;
    font-size: 14px;
}
.favourite-tile:hover{
  background-color:#F2F2F2;
}

  

