<div class="favourites-div">
  <div style="display: flex ;position: relative;">
    <div style="margin-bottom: 41px; display: flex">
      <div>
        <img src="./assets/images/Star.png" height="26px" width="26px" />
      </div>
      <div>
        <span class="Fav-header">Favourites</span>
      </div>
    </div>
    <div  *ngIf="openPagination" style="position:absolute;margin-right:13px;right:0px;"><pagination-controls (pageChange)="page = $event" previousLabel="" [maxSize]="5"
      nextLabel="" ></pagination-controls></div>
  </div>
  <div class="favourites-tiles">

      <div *ngFor="let fav of favourites | paginate : { itemsPerPage:6 , currentPage:page, totalItems:totalLength  }" >   
          <div  class="favourite-tile">
            <div style="width: 40px;">
            <span *ngIf="checkIconType(fav) == true"><img src="./assets/images/access-icon.png"></span>
            <span *ngIf="checkIconType(fav) == false"><img src="./assets/images/export-icon.png"></span>
            </div>
            <div class="favourites-text">
            {{fav.value}}
            </div>
        </div>
      </div>


  </div>
</div>
