ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  line-height: 1;
  font-size: 16px;
  padding-left: 1em;
  li {
    padding-left: 10px;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
    p {
      margin: 1px;
      background: #fae44c;
      position: relative;
      // TODO change this
      top: 8px;

      .child-toggle {
        background-color: transparent;
        border: 0;
        outline: 0;

        img {
          width: 12px;
          height: 12px;
        }

        .rotate {
          transform: rotate(180deg);
        }
      }
    }
    ul {
      border-top: 1px solid black;
      margin-left: -10px;
      padding-left: 20px;
    }
    &.container {
      border-bottom: 0px;
    }
    &.empty {
      font-style: italic;
      color: silver;
      border-color: silver;
    }
    &:last-child {
      ul {
        border-left: 1px solid white;
        margin-left: -11px;
      }
    }
  }
}
