<div class="tree-dropdown">
  <div class="tree-dropdown-input">
    <div class="search-icon">
      <img src="assets/images/Search icon.svg" alt="">
    </div>
    <div class="chip-input-container">
      <div class="chip-container" *ngIf="value?.length">
        <div class="chip" *ngFor="let node of value | slice:0:4; let i = index">
          <ng-container *ngIf="i < 3">
            <span class="text">{{node.label}}</span>
            <span class="button" (click)="unSelect(i)">X</span>
          </ng-container>
          <ng-container *ngIf="i == 3">
            <span class="text">{{value.length - 3}} more</span>
            <span class="button">X</span>
          </ng-container>
        </div>
      </div>
      <input class="search-input" type="text" name="search-input" id="search-input" (keyup)="onSearch(searchInput.value)"
        [attr.placeholder]="value.length ? '' : title" #searchInput required>
    </div>
    <button class="toggle-button" (click)="onOpenDropdown()">
      <img id="arrow" [ngClass]="{ rotate: openDropdown }" src="./assets/images/Arrow.png" />
    </button>
  </div>
  <div class="tree-container" *ngIf="openDropdown">
    <div class="tree-content-container">
      <div class="tree-component-header">
        <div class="form-checkbox">
          <input type="checkbox" id="select-all-lower-level">
          <label for="select-all-lower-level">Add all lover levels of the hierarchy</label>
        </div>
      </div>
      <div class="tree-view-container">
        <app-tree-view [node]="node" (selectLabel)="onSelect($event)"></app-tree-view>
      </div>
      <div class="tree-component-footer">
        <div class="action-button">Done</div>
      </div>
    </div>
  </div>
</div>