.Title {
    background-color: #e5e5e5;
}
.Header-Name {
    width: 448px;
    height: 5px;
    margin: 42px 24px 27px 30px;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Text {
    position: relative; 
    left: 500px;
    right: 310px;
    top: -32px;
    width: 630px;
    height: 73px;
    margin: 0 0 0 24px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Frame-Basic {
    width: 480px;
    height: 242px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    margin: 0px 0px 0px;
    padding: 24px 23px 40px 24px;
    background-color: #00b190;
}
.Basic {
    width: 81px;
    height: 39px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.TextLineBasic {
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.Enter-Frame {
    position: relative;
    bottom: 13px;
    left: 359px;
    width: 67px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 12px 7px;
    background-color: #019478;
}
.Enter-Frame-1 {
    position: relative;
    bottom: 13px;
    left: 359px;
    width: 67px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 12px 7px;
    background-color: #184ac9;
}
.Enter-Frame-2 {
    position: relative;
    bottom: 13px;
    left: 359px;
    width: 67px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 12px 7px;
    background-color: #e7c900;
}
.Enter {
    width: 43px;
    height: 16px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.Enter-1 {
    width: 43px;
    height: 16px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #292929;
}
.Button-Frame {
    position: relative;
    bottom: 76px;
    left: 428px;
    width: 27.8px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 10px;
    background-color: #019478;
}
.Button-Frame-1 {
    position: relative;
    bottom: 76px;
    left: 428px;
    width: 27.8px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 10px;
    background-color: #184ac9;
}
.Button-Frame-2 {
    position: relative;
    bottom: 76px;
    left: 428px;
    width: 27.8px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 10px;
    background-color: #e7c900;
}
.Polygon-1 {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 7px solid transparent;
}
.Polygon-2 {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #292929;
    border-bottom: 7px solid transparent;
}
.Frame-Advanced {
    width: 480px;
    height: 242px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    margin: 0px 0px 0px;
    padding: 24px 23px 40px 24px;
    background-color: #005eef;
}
.Advanced {
    width: 154px;
    height: 39px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.TextLineAdvanced {
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.Frame-Hardcore {
    width: 480px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    margin: 0px 0 24px;
    padding: 24px 23px 40px 24px;
    background-color: #fae44c;
}
.Hardcore {
    width: 145px;
    height: 39px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #292929;
  }
.TextLineHardcore {
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Saved-Templates {
    width: 448px;
    height: 36px;
    margin: 24px 8px 23px 24px;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Favourites {
    width: 290px;
    height: 40px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    margin: 23px 15px 44px 26px;
    padding: 0 18px 0 0;
    border: solid 1px #c7c7c7;
    background-color: #fff;
}
.Button-text {
    width: 247px;
    height: 40px;
    padding-top: 10px;
    flex-grow: 0;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Help-Support {
    width: 448px;
    height: 36px;
    margin: 44px 6px 24px 26px;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #3a3a3a;
}
.Favourites-1 {
    width: 290px;
    height: 40px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    margin: 23px 15px 44px 26px;
    padding: 0 18px 0 0;
    border: solid 1px #c7c7c7;
    background-color: #fff;
}

.Frame-Basic:hover{
    background-color: #019478;
    .Enter-Frame{
        background-color: white;
    }
    .Enter{
      color: #019478;
    }
    .Button-Frame{
      background-color: white;
    }
    .Polygon-1{
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid #019478;
        border-bottom: 7px solid transparent;
    }
}
.Frame-Advanced:hover{
    background-color: #0464f3;
    .Enter-Frame-1{
        background-color: white;
    }
    .Enter{
      color: #0464f3;
    }
    .Button-Frame-1{
      background-color: white;
    }
    .Polygon-1{
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid #0464f3;
        border-bottom: 7px solid transparent;
    }
}
.Frame-Hardcore:hover{
    background-color: #e2c922;
    .Enter-Frame-2{
        background-color: black;
    }
    .Enter-1{
      color: #fff;
    }
    .Button-Frame-2{
      background-color: black;
    }
    .Polygon-2{
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 7px solid transparent;
    }
}

.Favourites:hover{
    background-color:#F2F2F2;
  }