.page-container {
  padding: 34px 75px;
  position: relative;

  .section-header {
    font-family: UnileverShillingBold;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    .download-button {
      border: solid;
      height: 38px;
      margin: 22px 18px 24px 0px;
      padding: 14px 18px 14px 0;
      border: solid 1px #c7c7c7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .text {
        font-size: 14px;
        line-height: 1.4;
        color: #000;
      }
    }
  }

  .selection-table {
    width: 100%;
    // margin: 24px 101px 29px 102px;
    // padding: 11px 0 18px;
    margin-bottom: 29px;
    border: solid 1px #c7c7c7;

    & > div:not(:last-child) {
      border-bottom: 1px solid #c7c7c7;
    }

    .table-header {
      padding: 11px 26px;
      // height: 51px;
      font-size: 24px;
      font-weight: 500;
      color: #000;

      .toggle {
        height: 17px;
        margin-left: 10px;
        cursor: pointer;
        transform: rotate(180deg);
      }
    }

    .section-header-2 {
      display: flex;
      // justify-content: space-between;

      & > div:not(:last-child) {
        border-right: 1px solid #c7c7c7;
      }
      .search-section {
        width: 50%;
        padding: 11px 26px;
        flex-grow: 1;
        .title {
          font-family: UnileverShilling;
          font-size: 16px;
          font-weight: 500;
          color: #000;
        }
        .search-inputs {
          display: flex;
          align-items: center;
          margin: 6px 0px 20px 0;
          .search-box {
            height: 38px;
            width: 90%;
          }
          app-tooltip {
            width: 10%;
          }
        }
      }
    }
    .content-section {
      display: flex;

      & > div:not(:last-child) {
        border-right: 1px solid #c7c7c7;
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 50%;
        .content-header {
          margin: 11px 26px 12px 26px;
          font-family: UnileverShilling;
          font-size: 16px;
          font-weight: 500;
          color: #000;
        }
        .checklist {
          margin: 0 26px 11px 26px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .page-footer {
    position: sticky;
    margin: 0 -101px -34px -101px;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #efeeee;
    // margin: 70px 0 0;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 101px;
    gap: 1px;

    .action-button {
      height: 44px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 3px 22px 5px;
      background-color: #00b190;
      cursor: pointer;

      .text {
        height: 18px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        text-align: center;
        color: #fff;
      }

      &.light {
        background-color: #efeeee;

        .text {
          height: 16px;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.14px;
          text-align: left;
          color: #a0a0a0;
        }
      }
    }
  }
}

.section-boarder {
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 0;
  &.bottom {
    border-bottom-width: 1px;
  }
  &.right {
    border-right-width: 1px;
  }
}
