<div class="page-container">
  <div class="section-header">
    Load a template
  </div>
  <div class="buttons-container">
    <div class="download-button">
      <span class="icon">
        D
        <!-- <img src="../../../../../assets/images/" alt=""> -->
      </span>
      <span class="text">China</span>
    </div>
    <div class="download-button">
      <span class="icon">
        D
        <!-- <img src="../../../../../assets/images/" alt=""> -->
      </span>
      <span class="text">Sweden</span>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Dimensions
    </div>
    <div class="section-header-2">
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">
              <img src="assets/images/Search icon.svg" alt="">
            </div>
            <div class="search-placeholder">
              Type the name of any product category
            </div>
            <div class="search-icon">
              <img src="../../../../../assets/images/Arrow-up-black.png" alt="">
            </div>
          </div>
          <div class="tooltip-q">
            <span class="tooltip-content"></span>
          </div>
        </div>
      </div>
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">
              <img src="assets/images/Search icon.svg" alt="">
            </div>
            <div class="search-placeholder">
              Type the name of a country, region, etc.
            </div>
            <div class="search-icon">
              <img src="../../../../../assets/images/Arrow-up-black.png" alt="">
            </div>
          </div>
          <div class="tooltip-q">
            <div class="tooltip-content"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Add brand data
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Name</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For global/region brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For all brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For local brands</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Select Brands
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">All</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Top 5</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Select individual brands</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Metrics
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Absolute and Variance
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Volume</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value Growth vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value Growth vs PY</label>
          </div>
        </div>
        <div class="section-boarder bottom"></div>
        <div class="content-header">
          Price
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Average Price</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Average Price Index</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Market Share & Variance
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-1">
            <label for="market-share-and-variance-1">Value Share</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-2">
            <label for="market-share-and-variance-2">Volume Share</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-3">
            <label for="market-share-and-variance-3">Value Share Development vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-4">
            <label for="market-share-and-variance-4">Value Share Development vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-5">
            <label for="market-share-and-variance-5">Value Share Dev from Value Share Changes vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-5">
            <label for="market-share-and-variance-5">Value Share Dev from Value Share Changes vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-6">
            <label for="market-share-and-variance-6">Value Share Dev from Volume Share Changes vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-7">
            <label for="market-share-and-variance-7">Value Share Dev from Volume Share Changes vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-8">
            <label for="market-share-and-variance-8">Volume Share Development vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-9">
            <label for="market-share-and-variance-9">Volume Share Development vs PY</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Time Horizon
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Select Periods
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-1">
            <label for="select-periods-1">L4W</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-2">
            <label for="select-periods-2">L12W</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-3">
            <label for="select-periods-3">MAT</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-4">
            <label for="select-periods-4">YTD</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-5">
            <label for="select-periods-5">FY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-6">
            <label for="select-periods-6">Quarters</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-7">
            <label for="select-periods-7">Months</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="select-periods-8">
            <label for="select-periods-8">4 Weeks</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Calendar Periods
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="calendar-year-1">
            <label for="calendar-year-1">1 Year</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="calendar-year-2">
            <label for="calendar-year-2">2 Years</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="calendar-year-3">
            <label for="calendar-year-3">3 Years</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Cell data
    </div>
    <div class="content-section">
      <div class="content">
        <div class="checklist">
          <div class="form-checkbox" style="margin-top: 20px;">
            <input type="radio" id="cell-data-1">
            <label for="cell-data-1">I want to export geographies and categories as specified in previous steps</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="cell-data-2">
            <label for="cell-data-2">I want to export only 72 most important cells</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="cell-data-3">
            <label for="cell-data-3">I want to export all cells</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Additional options
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Select a data source
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="monthly-reporting">
            <label for="monthly-reporting">Monthly reporting</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="last-available">
            <label for="last-available">Last available</label>
          </div>
        </div>
        <div class="section-boarder bottom"></div>
        <div class="content-header">
          Competitor data
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="competitor-data-1">
            <label for="competitor-data-1">Add only market and Unilever</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="competitor-data-2">
            <label for="competitor-data-2">Add only top 5 competitors including Unilever</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="competitor-data-3">
            <label for="competitor-data-3">All competitor</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Sort data by
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="sorty-by-geo">
            <label for="sorty-by-geo">Geography</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="sort-by-time">
            <label for="sort-by-time">Time Horizon</label>
          </div>
        </div>
        <div class="section-boarder bottom"></div>
        <div class="content-header">
          Order of Time Columns in the export file
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="order-desc">
            <label for="order-desc">Descending</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="order-asc">
            <label for="order-asc">Ascending</label>
          </div>
        </div>
        <div class="section-boarder bottom"></div>
        <div class="content-header">
          Include master data/codes
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio" id="master-data-yes">
            <label for="master-data-yes">Yes</label>
          </div>
          <div class="form-checkbox">
            <input type="radio" id="master-data-no">
            <label for="master-data-no">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>