<div class="page-container">
  <div class="section-header">
    Load a template
  </div>
  <div class="buttons-container">
    <div class="download-button">
      <span class="icon">D</span>
      <span class="text">China</span>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Dimensions
    </div>
    <div class="section-header-2">
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">S
            </div>
            <div class="search-placeholder">
              Type the name of a country, region, etc.
            </div>
            <div class="search-icon">S</div>
          </div>
          <div class="tooltip">
            <span class="tooltip-content">?</span>
          </div>
        </div>
      </div>
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">S
            </div>
            <div class="search-placeholder">
              Type the name of a country, region, etc.
            </div>
            <div class="search-icon">S</div>
          </div>
          <div class="tooltip">
            <span class="tooltip-content">?</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Add brand data
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Name</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For global/region brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For all brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For local brands</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Select Brands
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">All</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Top 5</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Select individual brands</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Metrics
    </div>
    <div class="content-section">
      <div class="content">
        <div class="content-header">
          Absolute and Variance
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Volume</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value Growth vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Value Growth vs PY</label>
          </div>
        </div>
        <div class="section-boarder bottom"></div>
        <div class="content-header">
          Price
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Average Price</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox">
            <label for="">Average Price Index</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          Market Share & Variance 
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-1">
            <label for="market-share-and-variance-1">Value Share</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-2">
            <label for="market-share-and-variance-2">Volume Share</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-3">
            <label for="market-share-and-variance-3">Value Share Development vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-4">
            <label for="market-share-and-variance-4">Value Share Development vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-5">
            <label for="market-share-and-variance-5">Value Share Dev from Value Share Changes vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-5">
            <label for="market-share-and-variance-5">Value Share Dev from Value Share Changes vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-6">
            <label for="market-share-and-variance-6">Value Share Dev from Volume Share Changes vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-7">
            <label for="market-share-and-variance-7">Value Share Dev from Volume Share Changes vs PY</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-8">
            <label for="market-share-and-variance-8">Volume Share Development vs PP</label>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="market-share-and-variance-9">
            <label for="market-share-and-variance-9">Volume Share Development vs PY</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>