<div class="page-container">
  <div class="section-header">
    Load a template
  </div>
  <div class="buttons-container">
    <div class="download-button">
      <span class="icon">D</span>
      <span class="text">China</span>
    </div>
  </div>
  <div class="selection-table">
    <div class="table-header">
      Dimensions
    </div>
    <div class="section-header-2">
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">S
            </div>
            <div class="search-placeholder">
              Type the name of a country, region, etc.
            </div>
            <div class="search-icon">S</div>
          </div>
          <div class="tooltip">
            <span class="tooltip-content">?</span>
          </div>
        </div>
      </div>
      <div class="search-section">
        <div class="title">
          Select required geography
        </div>
        <div class="search-inputs">
          <div class="search-box">
            <div class="search-icon">S
            </div>
            <div class="search-placeholder">
              Type the name of a country, region, etc.
            </div>
            <div class="search-icon">S</div>
          </div>
          <div class="tooltip">
            <span class="tooltip-content">?</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="content">
        <div class="contetn-header">
          Add brand data
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Name</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For global/region brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For all brand position</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">For local brands</label>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="contetn-header">
          Select Brands
        </div>
        <div class="checklist">
          <div class="form-checkbox">
            <input type="radio">
            <label for="">All</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Top 5</label>
          </div>
          <div class="form-checkbox">
            <input type="radio">
            <label for="">Select individual brands</label>
          </div>
      </div>
    </div>
  </div>
</div>