<div class="modal-container">
    <span class="close-button" (click)="onNoClick()">&times;</span>
    <h2 class="modal-header">Send us your feedback</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.</p>
    <textarea class="modal-input" placeholder="Type Something" name="" id="" rows="5"></textarea>
    <input class="modal-input" placeholder="Your Email" type="email" name="" id="">
    <p>How likely would you recommend GMI to a friend (from 1 to 10)?</p>
    <div class="ratting-bar">
      <div class="ratting-item">1</div>
      <div class="ratting-item">2</div>
      <div class="ratting-item">3</div>
      <div class="ratting-item">4</div>
      <div class="ratting-item">5</div>
      <div class="ratting-item">6</div>
      <div class="ratting-item">7</div>
      <div class="ratting-item">8</div>
      <div class="ratting-item">9</div>
      <div class="ratting-item">10</div>
    </div>
    <button class="modal-action">Send</button>
  </div>