<div class="footer">
    <div class="footer-bar" style="display: flex; justify-content: space-between;">
        <div>
            <a href="#"><span>ReportingPeriods </span></a>&nbsp;
        </div>
        <div>
            <a href="#"><span>Methodology </span></a>&nbsp;
        </div>
        <div>
            <a href="#"><span>FAQ </span></a>&nbsp;
        </div>
        <div>
            <a href="#"><span>Report an Issue </span></a>&nbsp;
        </div>
        <div>
            <a href="#"><span>Send us your feedback </span></a>&nbsp;
        </div>
        <div>
            <a href="#"><span>Connect with the team </span></a>&nbsp;
        </div>
    </div>
</div>