.footer {
    width: 1440px;
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 37px 0 0;
    padding: 16px 24px;
    background-color: #efefef;
    cursor: pointer;
}
