<div style="display: flex; flex-direction: column;">
    <div class="Access-Frame">
        <div class="Access-title">
            <img src="assets/Acces-reports.png"/>
            Access report
            <span class="Text">
                Browse plenty of predefined reports to see your business performance, discover the trends and see areas that require your attention.
            </span>
            <span class="Enter">Enter</span>
        </div>
    </div>
    <div class="Vector-92"></div>
    <div class="Access-Frame">
        <div class="Export-title">
            <img src="assets/Export-data.png"/>
            Export-data
            <span class="Text">
                Use an export wizard to download large sets of data for an ad hoc analysis.
            </span>
            <span class="Enter">Enter</span>
        </div>        
    </div>
</div>
<img class="Picture-tile" src="assets/Picture.png"/>