<div style="display:flex">
    <div class="Access-Frame">
        <div class="Access-title">
            <div class="Access-report">
                <img src="assets/Acces-reports.png"/>
                <span>Access report</span>
            </div>
            <div class="Text">
                Browse plenty of predefined reports to see your business performance, discover the trends and see areas that require your attention.
                <div class="Enter">
                    <div class="Enter-frame">
                        Enter
                    </div>
                </div>
                <div class="Button-frame">
                    <div class="Polygon-frame"></div>
                </div>
            </div>
        </div>
        <div class="Vector-92"></div>
        <div class="Export-title">
                <img src="assets/Export-data.png"/>
                Export-data
            <span class="Text">
                Use an export wizard to download large sets of data for an ad hoc analysis.
                <div class="Enter">
                    <div class="Enter-frame">
                        Enter
                    </div>
                </div>
                <div class="Button-frame">
                    <div class="Polygon-frame"></div>
                </div>
            </span>
        </div>
    </div>
    <div>
        <img class="Picture-tile" src="assets/Picture.png"/>
    </div>
</div>