@font-face {
  font-family: "UnileverShilling";
  src: url("../../assets/fonts/UnileverShilling.woff");
}

@font-face {
  font-family: "UnileverShillingBold";
  src: url("../../assets/fonts/UnileverShillingBold.woff");
}

@font-face {
  font-family: "UnileverShillingBold";
  src: url("../../assets/fonts/UnileverShillingBold.woff");
}

@font-face {
  font-family: "UnileverShillingMedium";
  src: url("../../assets/fonts/UnileverShillingMedium.woff");
}

@import "./variables";
@import "./layout";
